@model List<Customer>


<div class="row">
    <div class="col">
        <h1>Customer List</h1>
    </div>
    <div class="col">
        <a asp-action="Create" class="btn btn-primary">Create new customer</a>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.OrderBy(x => x.Id).Reverse())
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.Email</td>
            </tr>
        }
    </tbody>
</table>